.Navbar {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 1rem;
}

.Title {
  cursor: default;
}

.FeaturesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Profile {
  margin-right: 1rem;
}

.Button {
  border-width: 0;
}

.ActiveButton {
  border-width: 0;

  > span {
    position: relative;
  }

  &::before {
    content: '';
    background: linear-gradient(135deg, #6253e1, #04befe);
    position: absolute;
    inset: 0;
    opacity: 1;
    transition: all 0.3s;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0;
  }
}
