.Root {
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  height: var(--navbar-height);
  align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.Content {
  display: flex;
  height: calc(100% - var(--navbar-height));
  flex-direction: column;
  overflow: auto;
}

.PageWrapper {
  flex-grow: 1;
}

.Navbar {
  width: 100%;
  height: 100%;
}
