.Header {
  display: flex;
  height: var(--navbar-height);
  align-items: center;
}

.Content {
  display: flex;
  height: calc(100% - var(--navbar-height));
  flex-direction: column;
}

.PageWrapper {
  flex-grow: 1;
  padding: 1em;
}

.Navbar {
  width: 100%;
  height: 100%;
}
