.LoginDialog {
    padding-left: 2rem;
}
.TabBody {
    margin-bottom: 0.5rem;
}
.TabBodyItem {
    margin-bottom: 0.75rem;
}
.DialogFooter {
    justify-content: center;
    display: flex;
}
.DialogRoot {
    transition: height ease-in-out .3s;
}