.BookingsPage {
  height: 100%;
  padding: 1rem;
}

.BookingsPanel {
  min-width: 700px;
}

.CreateBookingTitle {
  padding-bottom: 1rem;
}

.CreateBookingOptions {
  width: 400px;
}

.CreateBookingCalendar {
  color: inherit;
}

.CreateBookingCalendarItem {
  justify-content: flex-end;
}

.CreateBookingControls {
  padding-top: 1rem;
  gap: 1rem;
}
