.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.WrapperBlocked {
  pointer-events: none;
}

.Screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: background-color ease-in-out .3s, opacity ease-in-out .3s, backdrop-filter ease-in-out .3s;
}

.ScreenActive {
  pointer-events: all;
  opacity: 1;
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,.5);
}